__pycache__/
.env
db.sqlite3
apps/products/__pycache__/
apps/products/migrations/
apps/users/__pycache__/
apps/users/migrations/
apps/category/migrations/
apps/category/__pycache__/
apps/carts/migrations/
apps/carts/__pycache__/
apps/orders/migrations/
apps/orders/__pycache__/
apps/shipping_adress/migrations/
apps/shipping_adress/__pycache__/
apps/billing_profiles/migrations/
apps/billing_profiles/__pycache__/
apps/billing_charges/migrations/
apps/billing_charges/__pycache__/
apps/promo_codes/migrations/
apps/promo_codes/__pycache__/
store/__pycache__/
