__pycache__/
.env
db.sqlite3
apps/products/__pycache__/
apps/products/migrations/
apps/users/__pycache__/
apps/users/migrations/
apps/category/migrations/
apps/category/__pycache__/
apps/carts/migrations/
apps/carts/__pycache__/
apps/orders/migrations/
apps/orders/__pycache__/
apps/shipping_adress/migrations/
apps/shipping_adress/__pycache__/
store/__pycache__/
