<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active " aria-current="page"><a class="text-black-50" href="{% url 'orders:create' %}">Resumen del pedido</a></li>
        <li class="breadcrumb-item"><a class="" href="{% url 'shipping_adress:list' %}">Dirección</a></li>
        <li class="breadcrumb-item "><a class="" href="#">Forma de pago</a></li>
        <li class="breadcrumb-item "><a class="" href="#">Forma de pago</a></li>
        <li class="breadcrumb-item "><a class="" href="#">Forma de pago</a></li>
    </ol>
</nav>