{% url 'orders:create' as orders %} {% url 'orders:adress' as shipping_adress %} {% url 'orders:select_adress' as select_adress %} 
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item  " aria-current="page"><a class="
            {% ifnotequal request.path orders  %} 
              text-black-50
            {% endifnotequal %}
            " href="{% url 'orders:create' %}">Resumen del pedido</a></li>
        <li class="breadcrumb-item active"><a class="
        {% ifnotequal request.path shipping_adress  %} 
            {% ifnotequal request.path select_adress %}
                text-black-50
            {% endifnotequal %}
        {% endifnotequal %}

            " href="{% url 'orders:adress' %}">Dirección</a></li>
        <li class="breadcrumb-item active"><a class="text-black-50" href="#">Forma de pago</a></li>
        <li class="breadcrumb-item active"><a class="text-black-50" href="#">Forma de pago</a></li>
        <li class="breadcrumb-item active"><a class="text-black-50" href="#">Forma</a></li>
    </ol>
</nav>
