{% extends "base.html" %} {% block content %}

<head>

    {% block styles %}
    <style>
        body {
            background-color: whitesmoke !important;
        }
    </style>
    {% endblock styles %}

</head>

<section class="container row d-flex mt-3">
    <div class="col-lg-6 ">
        <div class="" style="width: 100%;">
            <img class="img-thumbnail" src="{{product.image.url}}" alt="" />
        </div>
    </div>
    <div class="col-lg-6 container d-flex flex-column">
        <h3 class="display-4 ">{{product.title}}</h3>
        <div class="mb-2">
            <span class="font-weight-bold h3">${{product.price}}</span>
            <i class="text-muted">{{product.unit}}</i>
        </div>
        <div class="h5">
            <span class="text-muted text-body">
                {{product.description}}
            </span>
        </div>
        <form class="container d-flex flex-column" action="{% url 'carts:addProduct' %}" method="POST">
            {% csrf_token %}
            <div class="ml-0 ml-0 p-0  w-50">
                <div class="form-group col-md flex-grow-0 ">
                    <label class="font-weight-bold">Cantidad</label>
                    <div class="input-group mb-3 input-spinner">
                        <div class="input-group-prepend">
                            <button class="btn btn-info" type="button" id="button-plus"> + </button>
                        </div>
                        <input type="text" class="form-control   text-center" name="quantity" id="quantity">
                        <div class="input-group-append">
                            <button class="btn btn-info" type="button" id="button-minus"> − </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex  align-self-end">
                <a href="#" class="btn  btn-primary"> Comprar </a>
                <input type="text" class="d-none" name='id' value="{{product.id}}">
                <button class="btn ml-3 type='submit' btn-outline-primary"> <span class="text">Agregar al carrito</span> <i class="fa fa-cart-plus"></i> </button>
            </div>
        </form>
    </div>
</section>
{% endblock content %} {% block js %}
<script type="text/javascript">
    const plus = document.getElementById('button-plus');
    const minus = document.getElementById('button-minus');
    const quantity = document.getElementById('quantity');

    quantity.value = 1;

    plus.addEventListener('click', (e) => {
        const value = Number(quantity.value);
        quantity.value = value + 1;
    })
    minus.addEventListener('click', (e) => {
        const value = Number(quantity.value);
        value != 1 ? quantity.value = value - 1 : quantity.value = value;
    })
</script>

{% endblock js %}