{% extends "base.html" %} {% load static %} {% block content %}
<section class="container mt-3">
    <div class="card container ">
        <div class="card-header">
            <h2 class="text-left text-info text-black"> Promociones </h2>
        </div>
        <div class="card-body">
            <div class="container d-flex">
                <div class="row w-100 d-flex justify-content-between">
                    {% include 'products/snippets/cardPromo.html' with news=news %}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container mt-2">
    <h4 class="display-4 text-white">Productos</h4>
    <div class="row d-flex justify-content-around">
        {% include 'products/snippets/cardProduct.html' with products=products %}
    </div>
</section>
{% endblock content %}