{% extends "base.html" %} {% load static %} {% block content %}

<div class="row d-flex mt-4 ">

    <div class="col-lg-3  col-sm-12">
        {% include "products/snippets/asideBar.html" with categories=categories %}
    </div>
    <section class=" col-lg-9 container">
        <div class="d-flex mt-2 justify-content-center">
            {% include "products/snippets/search.html" with query=query %}
        </div>
        <hr>
        <div class="row ml-3 d-flex justify-content-start ">
            {% include 'products/snippets/cardProduct.html' with products=products %}
        </div>
    </section>

</div>

{% endblock content %}
<HR></HR>
{% block js %}
<script src="{% static './js/app.js' %}"></script>
{% endblock js %}