{% extends 'base.html' %} {% block aside %} {% endblock aside %} {% block content %}

<body class="container">
    <div class=" d-flex justify-content-start  mt-5  ml-5">
        <a class="btn btn-info border-light  shadow" href="{% url 'login' %}">Regresar</a>
    </div>
    <section class="d-flex justify-content-center">
        <form id="formulario" class="form-group " method="post" accept-charset="utf-8">
            {% csrf_token %}
            <h3 class="mt-4"> Recuperar Contraseña </h3>
            <label class="col-form-label font-weight-bold h3 mt-4" for="id_email">Correo electrónico</label>
            <input class="form-control" type="text" name="email">
            <div class="d-flex justify-content-center">
                <input class="btn  btn-primary  mt-2 form-group " type="submit" value="Recuperar" />
            </div>
        </form>
    </section>
</body>
{% endblock content %} {% block footer %} {% endblock footer %}