{% extends 'base.html' %} {% block aside %} {% endblock aside %} {% block content %}

<body>
    <section class="container">
        {% if validlink %}
        <h1>Nueva Contraseña</h1>
        <form method="post" class="form-group">
            {% csrf_token %} {{form.new_password1.errors}}
            <label for="id_new_password1">Nueva Contraseña:</label> {{ form.new_password1 }} {{ form.new_password2.errors }}
            <label for="id_new_password2">Confirme Contraseña:</label>{{ form.new_password2 }}
            <input type="submit" name="Cambiar mi contraseña">
        </form>

        {% else %}
        <h1>Enlace Invalido: Este enlace ya ha sido utilizado</h1>

        {% endif %} </section>
</body>

{% endblock content %}