<aside class="ml-lg-3">
    <!-- COMPONENTS SIDEBAR -->
    <output>
    <div class="card">
        <article class="filter-group">
            <header class="card-header ">
                <a href="#" data-toggle="collapse" data-target="#collapse_aside1" aria-expanded="true" class="d-flex justify-content-between">
                    <h6 class="title">Categorías </h6>
                    <i class="icon-control fa fa-chevron-down"></i>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_aside1" style="">
                <div class="card-body">
                    <form class="mb-3">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Categoría">
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                      </div>
                    </div>
                    </form>
                    <ul class="list-menu list-unstyled ">
                        <li><a class="text-body text-decoration-none " href="#">Frutas </a></li>
                        <li><a class="text-body text-decoration-none" href="#">Verduras  </a></li>
                        <li><a class="text-body text-decoration-none" href="#">Carnes</a></li>
                        <li><a class="text-body text-decoration-none" href="#">Lacteos</a></li>
                        <li><a class="text-body text-decoration-none" href="#">Granos y harinas</a></li>
                        <li><a class="text-body text-decoration-none" href="#">Aseo del hogar</a></li>
                    </ul>
    
                </div> <!-- card-body.// -->
            </div>
        </article> <!-- filter-group  .// -->
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_aside2" aria-expanded="true" class="d-flex justify-content-between">
                    <h6 class="title">Price </h6>
                    <i class="icon-control fa fa-chevron-down"></i>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_aside2" style="">
                <div class="card-body">
                    <input type="range" class="custom-range" min="0" max="100" name="">
                    <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Min</label>
                      <input class="form-control" placeholder="$0" type="number">
                    </div>
                    <div class="form-group text-right col-md-6">
                      <label>Max</label>
                      <input class="form-control" placeholder="$1,0000" type="number">
                    </div>
                    </div> <!-- form-row.// -->
                    <button class="btn btn-block btn-primary">Apply</button>
                </div> <!-- card-body.// -->
            </div>
        </article> <!-- filter-group  .// -->
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_aside3" aria-expanded="false" class="collapsed">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Size </h6>
                </a>
            </header>
            <div class="filter-content collapse" id="collapse_aside3" style="">
                <div class="card-body">
                      <label class="checkbox-btn">
                        <input type="checkbox">
                        <span class="btn btn-light"> XS </span>
                      </label>
    
                      <label class="checkbox-btn">
                        <input type="checkbox">
                        <span class="btn btn-light"> SM </span>
                      </label>
    
                      <label class="checkbox-btn">
                        <input type="checkbox">
                        <span class="btn btn-light"> LG </span>
                      </label>
    
                      <label class="checkbox-btn">
                        <input type="checkbox">
                        <span class="btn btn-light"> XXL </span>
                      </label>
                </div> <!-- card-body.// -->
            </div>
        </article> <!-- filter-group  .// -->
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_aside4">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Rating </h6>
                </a>
            </header>
            <div class="filter-content collapse" id="collapse_aside4">
                <div class="card-body">
                  <label class="custom-control custom-checkbox">
                  <input type="checkbox" checked="" class="custom-control-input">
                  <div class="custom-control-label">Best  </div>
                </label>
    
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" checked="" class="custom-control-input">
                  <div class="custom-control-label">Good </div>
                </label>
    
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" checked="" class="custom-control-input">
                  <div class="custom-control-label">Normal</div>
                </label>
    
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" checked="" class="custom-control-input">
                  <div class="custom-control-label">Not good</div>
                </label>
                </div> <!-- card-body.// -->
            </div>
        </article> <!-- filter-group  .// -->
    </div> <!-- card.// -->
    </output>
    <!-- COMPONENTS SIDEBAR END .// -->
</aside>