{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8>
    <meta name=description content="SEVEN STORE es una tienda virtual en la cual podrás encontrar los mejores productos para el hogar y a el mejor precio del mercado, además te llevamos los productos a la puerta de tu hogar">
    <meta name=viewport content="width=device-width, initial-scale=1">

    <link rel=stylesheet href="{% static './css/bootstrap.min.css' %}">

    <link rel=stylesheet href="{% static './css/all.min.css' %}">
    <link rel=stylesheet href="{% static './css/base.css' %}">
    {% if stripePublicKey %}
        <meta name="stripe_public_key" content="{{stripePublicKey}}">
    {% endif %}
    {% block styles %} {% endblock styles %}
    
    <title> {% block title %} Choqui-Food {% endblock title %} </title>
    <link href="style.css">
</head>
<style>
    @font-face {
        font-family: "Roboto";
        src: url('/static/fonts/Roboto/Roboto-Regular.ttf');
    }
    
    body {
        font-family: 'Roboto', sans-serif;
    }
</style>

<body>
    {% url 'products:home' as home %} {% url 'products:store' as store %} {% url 'configuration' as configuration %} {% url 'login' as login %} {% url 'register' as register %} {% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand rounded bg-white" href="#">
            <img src="{% static './images/logo.png' %}" width="80" height="65" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item 
                {% ifequal request.path home  %} 
                    active
                {% endifequal %}
                    ">
                    <a class="nav-link " href="{{home}}"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>
                </li>
                <li class="nav-item 
                 {% ifequal request.path store  %} 
                    active
                 {% endifequal %} ">
                    <a class="nav-link" href="{{store}}"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Tienda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Novedades</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <div class="d-none d-lg-block  ml-lg-1 line-vertical"></div>
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Quienes somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contactanos</a>
                    </li>
                </ul>
            </ul>
            <div class="mr-lg-5">
                {% if user.is_authenticated %}
                <ul class="navbar-nav  mr-lg-5">
                    <li class="nav-item">
                        <a class="nav-link text-white badge badge-pill bg-primary" style="font-size: medium; " href="{% url 'carts:cart' %}">Mi Carrito<i class="fa fa-shopping-cart " aria-hidden="true "></i></a>
                    </li>

                    <li class=" dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navOptions" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
              </a>
                        <div class="dropdown-menu" aria-labelledby="navOptions">

                            <a class="dropdown-item " href="{% url 'shipping_adress:list' %}"><i class="fa fa-location-arrow text-black-50 "></i> Direcciones</a>
                            <a class="dropdown-item " href="{% url 'orders:list' %}"><i class="fa fa-shipping-fast text-black-50"></i> Pedidos</a>

                            <a class="dropdown-item {% ifequal request.path configuration %} active {% endifequal %} " href="{{configuration}} "><i class="fa fa-cog text-black-50 " aria-hidden="true "></i> Configuración</a>
                            <div class="dropdown-divider "></div>

                            <a class="dropdown-item d-flex justify-content-around text-danger" href={% url 'logout' %} aria-disabled="true "><i class="fa fa-power-off" aria-hidden="true "></i><span class="ml-1 mb-2">Cerrar Sesión</span></a>

                        </div>
                    </li>
                </ul>
                {% else %}
                <ul class="navbar-nav ">
                    <li class="nav-item ">
                        <a class="nav-link text-white badge badge-pill bg-primary " style="font-size: medium; " href="{% url 'carts:cart' %}">Mi Carrito<i class="fa fa-shopping-cart " aria-hidden="true "></i></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link {% ifequal request.path login %} active {% endifequal %} " href="{{login}} "><i class="fa fa-user "> </i><span class="ml-1 "> Iniciar sesión</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link {% ifequal request.path register %} active {% endifequal %} " href="{{register}} "><i class="fa fa-user "> </i><span class="ml-1 ">Registrarme</span></a>
                    </li>

                </ul>
                {% endif %}

            </div>
        </div>
    </nav>

    {% endblock nav %} {% if messages %} {% for msg in messages %}
    <div class="alert {% ifequal msg.level_tag 'success' %} alert-success {% else %} alert-danger {% endifequal %} " data-toggle="alert" role="alert">
        {{msg.message}}
        <button class="close" data-dismiss="alert">
			&times;
		</button>
    </div>
    {% endfor %} {% endif %}
   {% block aside %} {% endblock aside %} {% block content %} {% endblock content %}



    <script src="{% static './js/jqueryV3_5_1.js' %}"></script>
    <script src="{% static './js/popper.min.js' %} "></script>
    <script src="{% static './js/bootstrap.bundle.min.js' %} "></script>
    <script src="{% static './js/bootstrap.js' %} "></script>
    <script src="{% static './js/all.min.js' %} "></script>
    <script src="{% static './js/scriptB.js' %} "></script>
    {% block js %} {% endblock js %}
</body>

</html>