{% extends "base.html" %}

<head>{% block styles %}
    <style>
        html,
        body {
            background-color: rgb(255, 254, 252) !important;
        }
    </style>

    {% endblock styles %}</head>
{% block content %}
<div class="overflow-hidden ml-3 mr-3">
    <h2 class="display-4 ml-5">Carrito de compras</h2>
    {% if cart.select_related %} {% include "carts/snippets/tableProducts.html" with list_product=cart.select_related cart=cart %} {% else %}
    <p class="h5 text-info text-center">No hay productos agregados a tu carrito</p>
</div>
{% endif %} {% endblock content %}